/*============Contact Me============*/
.contact__container {
  row-gap: 3rem;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--title-color); /* White text */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: 1px solid transparent;
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 6px;
  transition: all 0.3s;
}

::placeholder {
  color: var(--text-color-light);
}

.contact__input:focus {
  border-color: var(--first-color);
  background-color: var(--input-color-hover);
}
/* For medium device */
@media screen and (min-width: 568px) {
  .contact__container {
    grid-template-columns: 1fr 2fr;
  }
}

/* For large  device */

@media screen and (min-width: 1024px) {
  .contact__form {
    width: 561px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
